@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

#listicle > li {
    font-weight: lighter;
    font-size: 2em;
    font-family: 'Raleway', serif !important;
}
